<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href=""/>
    {% endblock %}
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
    <p>El usuario {{ usuario }} ha agregado un nuevo certificado para la empresa {{ rs }} con vigencia de {{ fecha_ini }} hasta {{ fecha_fin }}.</p>
</body>
</html>