{% extends '::base.html.twig' %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <img src="{{ asset('public/images/kurigage.png') }}" class="img-responsive col-lg-offset-3 col-lg-6">
        </div>
    </div>
{% endblock %}