.sobre{
    background-color:#BFD2F0;
    cursor:pointer;
    border-bottom: 1px solid #9F61C0;
}
.outC{
    background-color:#E7EEFA;
    cursor:pointer;
    border-bottom: 1px solid #9F61C0;
}
.outB{
    background-color:#FFF;
    cursor:pointer;
    border-bottom: 1px solid #9F61C0;
}
.slcI{
    background-color:#FF0;
    cursor:pointer;
    border-bottom: 1px solid #9F61C0;
}